[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
jupyterlab = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
xlrd = "*"
noise = {path = "C:/Users/maxim/Downloads/noise-1.2.3-cp38-cp38-win32.whl"}

[requires]
python_version = "3.8"
